<div class="jumbotron text-center">
  <h2>People</h2>
  <div class="btn-group" role="group" aria-label="default button group">
    <%= link_to users_path, class: "btn btn-default #{'active' unless params[:people]}" do %>
      Everybody <span class="badge"><%= @friend_count%> </span> 
    <% end %> 

    <%= link_to users_path(people: "friends"), class: "btn btn-default #{'active' if params[:people]== 'friends'}" do %>
      Friends<span class="badge"><%= @friend_count %></span>
    <% end %> 
    <%= link_to users_path(people: "requests"), class: "btn btn-default #{'active' if params[:people] == 'requests'}" do %> 
      Requests<span class="badge"><%= @request_count %></span> 
    <% end %> 
    <%= link_to users_path(people: "pending"), class: "btn btn-default #{'active' if params[:people] == 'pending'}" do %>
      Pending<span class="badge"><%= @pending_count %></span>
    <% end %>
  </div>
</div>
  <div class="container">
    <div class="row">
      <%= render @users %>      
    </div>
  </div>
</div>