<div class="jumbotron text-center">
  <h1>Timeline</h1>
    <div class="btn-group role="group"  aria-label="default" ">
    <%= link_to "Everything", activities_path, class: "btn btn-default #{'active' unless params[:content]}"%>
    <%= link_to "All Posts", activities_path(content: "posts"), class: "btn btn-default #{'active' if params[:content] == 'posts'}" %>
    <%= link_to "All Friends", activities_path(content: "friends"), class: "btn btn-default #{'active' if params[:content] == 'friends'}" %>
    </div>
</div>


<div class="container">
  <ul class="timeline">
  
    <% @activities.each_with_index do | activity| %> 
    <% unless activity.trackable_type == "Friendship" && activity.owner == current_user %>
    <% if activity.trackable %> 
    
    <% if cycle('odd', 'even') == 'odd' %> 
      <li class="timeline-inverted">
      <% else %>
      <li>
      <% end %>
      <div class="timeline-badge primary"><%= gravatar_tag(activity.owner.email, size: 55) %></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">
            <%= link_to activity.owner.username, user_path(activity.owner.username) %>
            <p><small><%= time_ago_in_words(activity.created_at) %></small></p>
          </h4>
        </div>
        <div class="timline-body">
          <% case activity.trackable_type when "Post" %> 
            <p><%= raw(activity.trackable.content_html) %>
          <% when "Friendship" %> 
            <%= link_to activity.recipient.username, user_path(activity.recipient.username)%> is now friends with <%= link_to activity.recipient.username, user_path(activity.recipient.username) %>
            </p>
            <% end %>
        </div>
      </div>

    <% end %>
    <% end %> 
    <% end %>
  </ul>
</div>